html{ height: 100%; width: 100%; }

body {
  padding: 0; margin: 0;
  font-family: 'PT Sans', sans-serif;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  background: url('./image/BaseBackground.png') 50% 0 no-repeat;
}
@font-face {
  font-family: 'Fact';
  src: local('Fact'), local('Fact'),
      url('./fonts/Fact.woff2') format('woff2'),
      url('./fonts/Fact.woff') format('woff'),
      url('./fonts/Fact.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.text-title-large {
  font-size: 34px;
  font-family: Fact, Arial, sans-serif;
  font-weight: 700;
  margin: 0px 0px 0.9em 0px;
}
.text-content-normal-onbord {
  font-size: 22px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
}
.text-title-mid {
  font-size: 22px;
  font-family: Fact, Arial, sans-serif;
  font-weight: 700 !important;
  margin: 0px;
}

a:hover {
  text-decoration: underline !important;
}
button:hover {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.29) !important;
  -moz-box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.29) !important;
  box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.29) !important;
}
.widget-1 {
  display: flex;
  justify-content: space-between;
  background: #F0F7FA;
  width: 1186px;
  border-radius: 40px;
}
.widget-1_logo {
  position: relative;
}
.widget-1_logo > img {
  position: absolute;
  top: 157px;
  left: -604px
}
.widget-1_text-cantainer {
  margin: 4em 0px 3em 4em;
}
.widget-1_text-cantainer p:not(:first-child) {
  margin: 0px 0px 2em 0px;
}
.widget-1_text-cantainer span {
  font-weight: 700;
}
.widget-1_text-cantainer div:nth-last-child(2) {
  display: flex;
  align-items: center;
}
.widget-1_text-cantainer div:nth-last-child(2) img {
  margin-right: 33px;
}
.widget-1_text-cantainer p:last-child {
  margin: 0px;
}
.footer-Group4105 a {
  text-decoration: none;
  font-size: 16px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
  color: #2b539b;
  margin: 0px 0px 0px 10px !important;
}

.footer-Group4105 {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 4em 0px 0px 0px;
}
.footer-Group4105 button {
  cursor: pointer;
  width: 183px;
  height: 48px;
  background-color: #FFDD00;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
}
.footer-Group4105 > button p {
  font-size: 20px;
  margin: 0px;
  font-weight: normal !important;
}

/* ========================================================
======================================================== */

.container-widget-2 {
  position: relative;
  width: 395px;
  height: 240px;
}
.widget-2 {
  box-sizing: border-box;
  display: flex;
  padding-right: 22px;
  background: #F0F7FA;
  width: 395px;
  height: 237px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.rectangle-widget-2 {
    content: ''; 
    position: absolute;
    right: 192px; top: -27px;
    border: 9px solid transparent;
    border-bottom: 20px solid #F0F7FA;
}
.widget-2 > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 19px 0px 0px 30px;
}
.widget-2 > div:first-child > img {
  padding-right: 28px;
}
.widget-2 > div:first-child > p {
  line-height: 20px;
  margin: 0px;
  font-size: 16px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
}
.widget-2 > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.widget-2 > div:last-child > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 25px;
}
.widget-circle-onboard {
  margin-left: 4px;
}
.widget-2 > div:last-child > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link-widget {
  margin-right: 23px;
  text-decoration: none;
  font-size: 14px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
  color: #2b539b;
}
.widget-2 > div:last-child > div:last-child p {
  margin: 0px;
}
.widget-small-button {
  cursor: pointer;
  width: 108px;
  height: 33px;
  background-color: #FFDD00;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
}
.widget-small-button > p {
  font-weight: 600 !important;
}
.widget-2 span {
  font-weight: 700;
}

/* ========================================================
======================================================== */

.widget-3 {
  /* box-sizing: border-box; */
  padding: 4em 4em 2em 4em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #F0F7FA;
  /* width: 869px; */
  /* height: 609px; */
  border-radius: 40px
}
.widget-3 > p {
  white-space: nowrap;
  margin: 0px;
}
.widget-3 > :nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2em;
}
.widget-3 > :nth-child(2) > img {
  margin-right: 3em;
  
}
.widget-3 > :nth-child(2) span {
  text-decoration: underline;
}
.widget-3 > :nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 2em;
}
.widget-3 > :nth-child(3) > img {
  margin: 0px 2.5em 0px -11px;
}
.loga-stars-2021-07-23-12-02-24-644 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
.loga-stars-2021-07-23-12-02-24-644 > p {
  padding-right: 17px;
}
.widget-3 > :nth-child(3) > div {
  padding-right: 0.4em;
}
.widget-3 > :nth-child(3) > div p:last-child {
  line-height: 20px;
  margin: 0px;
  font-size: 18px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
}
.widget-3 button {
  cursor: pointer;
  width: 183px;
  height: 48px;
  background-color: #FFDD00;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.29);
}
.widget-3 button > p {
  font-size: 20px;
  margin: 0px;
  font-weight: normal !important;
}
.widget-3 > :nth-child(4) {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.widget-3 > :nth-child(3) > div:last-child {
  margin-left: 2em;
}

/* ========================================================
======================================================== */

.container-widget-4 {
  position: relative;
  width: 395px;
  height: 240px;
}
.widget-4 {
  box-sizing: border-box;
  padding: 26px 19px 20px 26px ;
  display: flex;
  background: #F0F7FA;
  width: 395px;
  height: 237px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.widget-4 > div:nth-child(-n+2) > p {
  margin: 0px 0px 0px 1px;
  font-size: 14px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
}
.rectangle-widget-4 {
    content: ''; 
    position: absolute;
    right: 112px; top: 237px;
    border: 9px solid transparent;
    border-top: 20px solid #F0F7FA;
}
.widget-4 > div:last-child {
  display: flex;
  justify-content: space-between;
}
.widget-4 > div:last-child > div:first-child {
  display: flex;
  align-items: center;
}
.widget-4 > div:last-child > div:last-child > p {
  align-items: center;
  margin: 0px;
}
.widget-small-button > p {
  margin: 0px;
  font-weight: 600 !important;
}
.widget-4 > div:last-child > div:last-child {
  align-items: center;
  display: flex;
}
.widget-4 span {
  font-weight: 700;
}
.widget-4 > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.widget-4 > div:nth-child(2) > a {
  color: #2b539b;
}

/* ========================================================
======================================================== */

.container-widget-5 {
  position: relative;
  width: 395px;
  height: 240px;
}
.widget-5 {
  box-sizing: border-box;
  padding: 26px 19px 26px 26px ;
  display: flex;
  background: #F0F7FA;
  width: 411px;
  height: 359px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.widget-5 > div:nth-child(-n+2) > p {
  margin: 0px 0px 0px 1px;
  font-size: 16px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
  padding-left: 11px;
}
.rectangle-widget-5 {
    content: ''; 
    position: absolute;
    right: 205px; top: 358px;
    border: 9px solid transparent;
    border-top: 20px solid #F0F7FA;
}
.widget-5 > div:last-child {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.widget-5 > div:last-child > div:first-child {
  display: flex;
  align-items: center;
}
.widget-5 > div:last-child > div:last-child > p {
  align-items: center;
  margin: 0px;
}
.widget-small-button > p {
  margin: 0px;
  font-weight: 600 !important;
}
.widget-5 > div:last-child > div:last-child {
  align-items: center;
  display: flex;
}
.widget-5 span {
  font-weight: 700;
}
.widget-5 > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.widget-5 > div:nth-child(2) a {
  color: #2b539b;
}
.class-widget-5 {
  color: white;
  height: 111px;
  width: 395px;
  margin-left: -26px;
  display: flex;
}
.class-widget-5 > img {
  margin-left: -px;
}

/* ========================================================
======================================================== */

.container-widget-6 {
  position: relative;
  width: 395px;
  height: 251px;
}
.widget-6 {
  box-sizing: border-box;
  padding: 20px 19px 20px 25px ;
  display: flex;
  background: #F0F7FA;
  width: 395px;
  height: 251px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.widget-6 > div:first-child {
  display: flex;
  align-items: center;
}
.widget-6 > div:nth-child(-n+2) > p {
  margin: 0px;
  font-size: 18px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
  padding-left: 38px;
}
.rectangle-widget-6 {
    content: ''; 
    position: absolute;
    right: 113px; top: 251px;
    border: 9px solid transparent;
    border-top: 20px solid #F0F7FA;
}
.widget-6 > div:last-child {
  display: flex;
  justify-content: space-between;
}
.widget-6 > div:last-child > div:first-child {
  display: flex;
  align-items: center;
}
.widget-6 > div:last-child > div:last-child > p {
  align-items: center;
  margin: 0px;
}
.widget-small-button > p {
  margin: 0px;
  font-weight: 600 !important;
}
.widget-6 > div:last-child > div:last-child {
  align-items: center;
  display: flex;
}
.widget-6 span {
  font-weight: 700;
}
.widget-6 > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.widget-6 > div:nth-child(2) a {
  color: #2b539b;
}

/* ========================================================
======================================================== */

.container-widget-7 {
  position: relative;
  width: 391px;
  height: 158px;
}
.widget-7 {
  box-sizing: border-box;
  padding: 14px 19px 20px 18px ;
  display: flex;
  background: #F0F7FA;
  width: 391px;
  height: 158px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.widget-7 > div:first-child {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.widget-7 ul {
  margin: 0px;
}
.widget-7 > div:nth-child(-n+2)  p {
  margin: 0px;
  font-size: 18px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
}
.rectangle-widget-7 {
    content: ''; 
    position: absolute;
    right: 270px; top: -29px;
    border: 9px solid transparent;
    border-bottom: 20px solid #F0F7FA;
}
.widget-7 span {
  font-weight: 700;
}

/* ========================================================
======================================================== */

.container-widget-8 {
  position: relative;
  width: 428px;
  height: 108px;
}
.widget-8 {
  box-sizing: border-box;
  padding: 18px 0px 20px 18px ;
  display: flex;
  background: #F0F7FA;
  width: 428px;
  height: 108px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.widget-8 > div:first-child {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.widget-8 ul {
  margin: 0px;
}
.widget-8 > div:nth-child(-n+2)  p {
  margin: 0px;
  font-size: 18px;
  font-family: Fact, Arial, sans-serif;
  font-weight: normal;
}
.rectangle-widget-8 {
    content: ''; 
    position: absolute;
    right: 231px; top: 108px;
    border: 9px solid transparent;
    border-top: 20px solid #F0F7FA;
}
.widget-8 span {
  font-weight: 700;
}
@media screen and (max-height: 900px) {
  .text-title-large {
    font-size: 24px;
    font-family: Fact, Arial, sans-serif;
    font-weight: 700;
    margin: 0px 0px 0.9em 0px;
  }
  .text-content-normal-onbord {
    font-size: 18px;
    font-family: Fact, Arial, sans-serif;
    font-weight: normal;
  }
  .text-title-mid {
    font-size: 18px;
    font-family: Fact, Arial, sans-serif;
    font-weight: 700 !important;
    margin: 0px;
  }
  .widget-1 {
    display: flex;
    justify-content: space-between;
    background: #F0F7FA;
    width: 900px;
    border-radius: 40px;
  }
  .widget-1_logo > img {
    position: absolute;
    top: 110px;
    left: -444px;
    height: 45% !important;
  }
  .widget-3 > :nth-child(3) > div p:last-child {
    line-height: 19px;
    margin: 0px;
    font-size: 16px;
    font-family: Fact, Arial, sans-serif;
    font-weight: normal;
  }
}

@media screen and (max-height: 768px) {
  .text-title-large {
    font-size: 22px;
    font-family: Fact, Arial, sans-serif;
    font-weight: 700;
    margin: 0px 0px 0.6em 0px;
  }
  .text-content-normal-onbord {
    font-size: 16px;
    font-family: Fact, Arial, sans-serif;
    font-weight: normal;
  }
  .text-title-mid {
    font-size: 16px;
    font-family: Fact, Arial, sans-serif;
    font-weight: 700 !important;
    margin: 0px;
  }
  .widget-1 {
    display: flex;
    justify-content: space-between;
    background: #F0F7FA;
    width: 750px;
    border-radius: 40px;
  }
  .widget-1_logo > img {
    position: absolute;
    top: 90px;
    left: -350px;
    height: 47% !important;
  }
  .widget-1_text-cantainer {
    margin: 1.3em 0px 1em 2em
  }
  .widget-1_text-cantainer p:not(:first-child) {
    margin: 0px 0px 1em 0px;
  }
  .footer-Group4105 {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 1em 0px 0px 0px;
  }
  .widget-1_text-cantainer div:nth-last-child(2) img {
    margin-right: 13px;
    margin-bottom: 1em;
  }
  .widget-3 > :nth-child(3) > div p:last-child {
    line-height: 19px;
    margin: 0px;
    font-size: 14px;
    font-family: Fact, Arial, sans-serif;
    font-weight: normal;
  }
  .widget-3 > :nth-child(2) > img {
    margin-right: 2em;
  }
  .widget-3 > :nth-child(3) > img {
    margin: 0px 1.5em 0px -11px;
  }
  .widget-3 {
    /* box-sizing: border-box; */
    padding: 1.3em 1em 1em 2em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #F0F7FA;
    /* width: 869px; */
    /* height: 609px; */
    border-radius: 40px
  }
  .widget-3 > :nth-child(3) > div:last-child {
    margin-left: 2em;
    padding-top: 0em;
    padding-bottom: 0.3em;
  }
  .widget-3 > :nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
}